/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
        
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
        
}
#login{
   
    width: 350px;
    background: #CCC;  
    padding: 20px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 16px;
}
#login h1{
    color: #FFF;
    font-size: 25px;
    font-family: sans-serif;
    margin: 15px 0;
}
.row{
    background: #FFF;
    margin: 10px 0;
    display: block;
}
input[type=text],input[type=password]{
    border: none;
    outline: 0;
    font-size: 18px;
    padding: 3px;
}
i{
    color: #666;
    margin-left: 10px;
}
button{
    background: rgb(255,197,120); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,197,120,1) 0%, rgba(237,113,146,1) 62%, rgba(251,157,35,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,197,120,1)), color-stop(62%,rgba(237,113,146,1)), color-stop(100%,rgba(251,157,35,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,197,120,1) 0%,rgba(237,113,146,1) 62%,rgba(251,157,35,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,197,120,1) 0%,rgba(237,113,146,1) 62%,rgba(251,157,35,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,197,120,1) 0%,rgba(237,113,146,1) 62%,rgba(251,157,35,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,197,120,1) 0%,rgba(237,113,146,1) 62%,rgba(251,157,35,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */
border: 1px solid #666;
color: #FFF;
padding: 10px;
border-radius: 5px;
font-size: 16px;
}
button i{
    color: #FFF;
}
button:hover{
    background: #333;  
    -webkit-transition: all 2s ease;
-moz-transition: all 2s ease;
-ms-transition: all 2s ease;
-o-transition: all 2s ease;
transition: all 2s ease;
}
#login:hover{
    background: red;
    -webkit-transition: all 2s ease;
-moz-transition: all 2s ease;
-ms-transition: all 2s ease;
-o-transition: all 2s ease;
transition: all 2s ease;
}
#latar{
width: 100%;
height: 100%;
position: absolute;
z-index: -1;
top:0;
background: black;
}
